* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: red;
}

li {
    display: inline;
}

ul {
    float: right;
    font-size: 40px;
}

header {
    background-color: teal;
    padding: 40px;
}

.title {
    font-size: 40px;
    Color: black;
    font-weight: bold;
    margin-top: 20px;

}

form {
    display: block;
    background-color: yellowgreen;
    padding: 70px;
}

div {
    border: 20px double lavender;
}

img {
    margin: 20px auto;

}
form p {
    margin: 4px;
}
button {
     margin-top: 20px;
}

footer {
    background-color: indigo;
    padding: 30px;
}
